@use "./typography";

$primary-font: "M PLUS Rounded 1c";
$primary-font-color: #434343;
$primary-font-color-light: #949494;
$border-red: #f84525;
$border-green: #5dc698;
$border-blue: lightblue;
$border-yellow: gold;

$desktop: 728px;
